body {
  background: black;
}

a {
  text-decoration: none;
  color: inherit;
}


.active {
  font-family: "Clip";
  font-size: 2rem;
      -webkit-animation-name: turnonlightsblue;
    -webkit-animation-duration: 15s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: steps(2, start);
    -webkit-animation-iteration-count: infinite;
  text-align: right;
}


@-webkit-keyframes turnonlightsblue {
    0%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    .2%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue; }
    .8%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue; }
    1.4%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    1.6%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue; }
    2.4%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    4.4%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    4.6%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue; }
    5.2%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    5.6%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue; }
    6.8%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue; }
    7.2%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    8.4%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue; }
    8.6%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    9.6%        { color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue; }
  10%           {color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue, 0 0 50px blue, 0 0 70px blue;}
  100%        {color: white; text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 17px blue, 0 0 38px blue, 0 0 50px blue, 0 0 70px blue;}
}
  
p {
  text-align: center;
  margin: 3rem;
  font-size: 2rem;
}
@font-face {
  font-family: "Clip";
  src: url("Clip.ttf");
}
.font2 {
  font-family: Clip;
  color: dimgrey;
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}