@font-face {
  font-family: Neon;
  src: url("Neon.ttf");
}

.termek {
  height: auto;
  width: 25%;
  padding: 1rem;
  background: rgba(0,0,0,.8);
  border-radius: 0 0 1rem 1rem;
  color: white;
  position: absolute;
  left: 37.8%;
  display: none;
  z-index: 10;
}

.termekekLi {
  color: dimgray;
  font-family: Neon;
  font-size: 1rem;
}

.termekekLi:hover {
  color: aquamarine;
  font-family: Neon;
  text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 20px blue, 0 0 33px blue;
}

.termekActive {
  display: block;
}